<ul class="nav nav-pills list-group">
    <li class="nav-item">
        <a href="{% url 'yaksh:courses' %}" class="nav-link list-group-item" title="View all the contests" data-placement="top" data-toggle="tooltip">
            Back to Contests
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'yaksh:course_students' course.id %}" id="enroll-students" class="nav-link list-group-item {% if is_students %} active {% endif %}" title="View the contest requested, rejected and joined members" data-placement="top" data-toggle="tooltip">
            Join Members
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link list-group-item {% if is_modules %} active {% endif %}" href="{% url 'yaksh:get_course_modules' course.id %}" title="View categories added to the contest" data-placement="top" data-toggle="tooltip">
        Contest Categories
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link list-group-item {% if is_design_course %} active {% endif %}" href="{% url 'yaksh:design_course' course.id %}" title="Additional contest settings" data-placement="top" data-toggle="tooltip">
        Design Contest
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'yaksh:course_status' course.id %}" class="nav-link list-group-item {% if is_progress %} active {% endif %}" title="View Members contest progress" data-placement="top" data-toggle="tooltip">
            Contest Progress
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'yaksh:send_mail' course.id %}" class="nav-link list-group-item {% if is_mail %} active {% endif %}" title="Send mail to contest members" data-placement="top" data-toggle="tooltip">
            Send Mail
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'yaksh:course_forum' course.id %}" class="nav-link list-group-item" title="Discussion forum of this contest" data-placement="top" data-toggle="tooltip">
            Discussion Forum
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link list-group-item {% if is_add_teacher %} active {% endif %}" href="{% url 'yaksh:search_teacher' course.id %}" data-toggle="tooltip" title="Add Mentors to this contest" data-placement="top">
        Add Mentors
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link list-group-item {% if is_teachers %} active {% endif %}" href="{% url 'yaksh:course_teachers' course.id %}" data-toggle="tooltip" title="View all the Mentors for this contest" data-placement="top">
        Current Mentors
        </a>
    </li>
</ul>   