
{% extends "user.html" %}
{% load custom_filters %}
{% load static %}  
{% block title %} Contest Modules {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/course_modules.css' %}">
{% endblock %}
{% block main %}
<div class="container-fluid mt-5">
   
    <div class="card mycard contentbg pb-4 mx-1 mx-md-4 px-3">
       
        <div class="mb-3">
          
            <div class="row modulename">
                
                <div class="col-md-6">
                    {{ course.name }}

                </div>
                <div class="col-md-6 text-center disname">
                    <a href="{% url "yaksh:course_forum" course.id %}">Discussion Forum</a>
                </div>
            </div>
           
        </div>
        <div class="">
        <div class="">
            
            {% if course.view_grade %}
                
                    <b>Grade: {% if grade %} {{ grade }} {% else %} Will be available once the contest is complete {% endif %}</b>
                
            {% endif %}
            {% if msg %}
                <div class="alert alert-dismissible alert-warning">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="fa fa-close"></i>
                    </button>
                    <strong>{{ msg }}</strong>
                </div>
            {% endif %}
            {% if modules %}
            <strong>- Overall Contest Progress:</strong>
            <div class="progress mt-4 myprogress">
                {% if course_percentage %}
                    {% if course_percentage <= 50 %}
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="{{course_percentage}}"
                        aria-valuemin="0" aria-valuemax="100" style="width:{{course_percentage}}%">
                    {% elif course_percentage <= 75 %}
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="{{course_percentage}}"
                        aria-valuemin="0" aria-valuemax="100" style="width:{{course_percentage}}%">
                    {% else %}
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{course_percentage}}"
                        aria-valuemin="0" aria-valuemax="100" style="width:{{course_percentage}}%">
                    {% endif %}
                    <b style="color: white;">{{course_percentage}}% Completed</b>
                    </div>
                {% else %}
                    <b style="color: black;">0% Completed</b>
                {% endif %}
            </div>
            {% else %}
                <div class="alert alert-danger">
                    <strong>No lectures found</strong>
                </div>
            {% endif %}
            <br>
            {% for module, percent in modules %}
            <div class="accordian-{{module.id}}">
                <div class="card mycard">
                    <div class="">
                        <div class="row mycardmodules mx-1">
                            <div class="col-md-4 col-12 my-3">
                                {{ module.name|title }}
                            </div>
                            <div class="col-md-3 col-12 my-3">
                                <div class="progress bg-white">
                                    {% if percent %}
                                        {% get_module_status user module course as module_status %}
                                        {% if module_status == "completed" %}
                                          <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{percent}}"
                                          aria-valuemin="0" aria-valuemax="100" style="width:{{percent}}%">
                                        {% elif module_status == "inprogress" %}
                                          <div class="progress-bar bg-warning" role="progressbar"
                                          aria-valuemin="0" aria-valuemax="100" style="width:{{percent}}%">
                                        {% endif %}
                                        <b style="color: white;">{{percent}}% Completed</b>
                                        </div>
                                    {% else %}
                                        <b style="color: black;">0% Completed</b>
                                    {% endif %}
                                </div>
                            </div>
                        
                            <div class="col-md-2 col-12 continuebtn text-center my-3">
                                <a class="card-link" data-toggle="collapse" href="#collapse-{{module.id}}">
                                    Details&nbsp;<i class="fa fa-angle-down"></i>
                                </a>
                            </div>
                            
                            <div class="col-md-2 col-12 continuebtn text-center my-3">
                                <a href="{% url 'yaksh:view_module' module.id course.id %}">
                                {% get_module_status user module course as module_status %}
                                {% if module_status == "completed" %}
                                <div class="continuebtn">
                                    View
                                </div>
                          
                                {% elif module_status == "inprogress" %}
                                <div class="continuebtn">
                                    Continue&nbsp;<i class="fas fa-angle-right"></i>
                                </div>
                                {% else %}
                                <div class="continuebtn">
                                    Start
                                </div>
                                {% endif %}
                                </a>
                            </div>
                           
                    </div>
                    <div id="collapse-{{module.id}}" class="collapse hide" data-parent="#accordion-{{module.id}}">
                        <div class="card-body">
                           
                            <table class="table table-striped">
                                {% for unit in module.get_learning_units %}
                                <tr>
                                    <td>
                                    {% if unit.type == "quiz" %}
                                        {% if unit.quiz.is_exercise %}
                                            <span class="fa fa-pencil"></span>
                                        {% else %}
                                            <span class="fa fa-puzzle-piece"></span>
                                        {% endif %}
                                    {% else %}
                                        <span class="fa fa-book"></span>
                                    {% endif %}
                                    </td>
                                    <td>
                                    {% if unit.type == "quiz" %}
                                        {{unit.quiz.description}}
                                    {% endif %}
                                    </td>
                                    <td>
                                        {% if unit.type == "lesson" %}
                                            <a href="" class="detailsbtn">
                                                View
                                            </a>
                                        {% else %}
                                            {% if unit.quiz.questionpaper_set.get %}
                                                <a href="{% url 'yaksh:start_quiz' unit.quiz.questionpaper_set.get.id module.id course.id %}" class="detailsbtn">
                                                    View
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                    {% get_unit_status course module unit user as status %}
                                    {% if status == "completed" %}
                                        <span class="success">{{status|title}}
                                        </span>
                                    {% elif status == "inprogress" %}
                                        <span class="info">{{status|title}}
                                        </span>
                                    {% else %}
                                        <span class="warning">{{status|title}}
                                        </span>
                                    {% endif %}
                                    </td>
                                    <td>
                                    {% if unit.type == "quiz" %}
                                        {% if unit.quiz.view_answerpaper %}
                                            <a href="{% url 'yaksh:view_answerpaper' unit.quiz.questionpaper_set.get.id course.id %}" >
                                            <i class="fa fa-eye"></i>&nbsp;Answer paper</a>
                                        {% else %}
                                            <a >
                                            <i class="fa fa-eye-slash" aria-hidden="true">
                                            </i>Answer paper</a>
                                        {% endif %}
                                    {% else %}
                                        ------
                                    {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}
