{% extends template  %}
{% block title %} Edit Profile {% endblock %}
{% block pagetitle %} My Profile {% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/editprofile.css' %}">
{% endblock %}
{% block main %}
<div class="container">
    <br>
    <form action="{% url 'yaksh:edit_profile'%}" method="post" >
      {% csrf_token %}
      <form action="" method="post">
            <div class="row">
                {% csrf_token %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-dismissible alert-danger">
                                    <button type="button" class="close" data-dismiss="alert">
                                        <i class="fa fa-close"></i>
                                    </button>
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert">
                                    <i class="fa fa-close"></i>
                                </button>
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% for field in form %}
                        <div class="form-group col-lg-4">
                            <label>
                                {{ field.label }}
                            </label>
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
                <div class="row d-flex justify-content-center m-3">
                    <button class="btn btn-outline-success btn-lg col-lg-4" type="submit">Update</button>&nbsp;&nbsp;
                    <a href="{% url 'yaksh:index' %}" class="btn btn-outline-primary btn-custom btn-lg col-lg-4">Cancel</a>
                </div>
                </form>
    </center>
    </form>
</div>
{% endblock main %}