{% extends template  %}
{% load static %}
{% block title %} Edit Profile {% endblock %}
{% block pagetitle %} My Profile {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/editprofile.css' %}">
{% endblock %}
{% block main %}
<div class="container">
    <hr>
    <form action="{% url 'yaksh:edit_profile'%}" method="post" >
      {% csrf_token %}
        <div class="row">
            <form action="" method="post">
                    {% csrf_token %}
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-dismissible alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">
                                            <i class="fa fa-close"></i>
                                        </button>
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-dismissible alert-danger">
                                    <button type="button" class="close" data-dismiss="alert">
                                        <i class="fa fa-close"></i>
                                    </button>
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                            {% for field in form %}
                            <div class="form-group col-md-4">
                                    <label>
                                        {{ field.label }}
                                    </label>
                                    {{ field }}
                            </div>
                            {% endfor %}
                        </form>
                    </div>
                    <div class="row d-flex justify-content-center my-3">
                        <button class="btn btn-success btn-block col-md-3 col-6 m-1" type="submit">Update</button>
                        <a href="{% url 'yaksh:index' %}" class="btn btn-primary btn-block col-md-3 col-6 m-1">Cancel</a>
                    </div>
    </center>
    </form>
    {% endblock main %}
</div>
