{% extends "manage.html" %}
{% load static %}

{% block title %} Questions {% endblock %}

{% block pagetitle %} Questions {% endblock pagetitle %}

 
{% block css %}
<link rel="stylesheet" href="{% static 'css/show_questions.css' %}">
{% endblock %}


{% block script %}
<script type="text/javascript" src="{% static 'yaksh/js/show_question.js' %}"></script>
<script type="text/javascript" src="{% static 'yaksh/js/jquery.tablesorter.min.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="container-fluid p-lg-5 py-5 backdrop">
    <div class="nav nav-pills d-flex justify-content-left" role="tablist" aria-orientation="vertical">
      <a href="#show" id="showbar" class="nav-link m-1 active"  data-toggle="pill" role="tab" aria-controls="show" aria-selected="true"> All Questions</a>
      <a href="#updown" id="updownbar" class="nav-link m-1" data-toggle="pill" role="tab" aria-controls="updown" aria-selected="false" > Upload Questions</a>
    </div>
    <br>
    <div class="tab-content">
      <!-- Upload Questions -->
      
      <div id="updown" class="card tab-pane fade upload-questions" role="tabpanel" aria-labelledby="updownbar">
        <div class="card-body">
          <form action="" method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <p class="upload-questions-head">You can upload question files the following ways -</p>
                <div class="col" role="alert">
                  <p>
                    <li><b>Yaml File</b>
                      <p>One can upload Yaml file with extensions .yaml or .yml. Please note
                        that you cannot upload files associated to a question. Yaml file can
                        have any name.
                      </p>
                    </li>
                  </p>
                </div>
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-lg-5 col-12">
                    <li><b>Zip File</b>
                     <p> One can also upload zip with the following zip structure - </p>
                      <pre>
        .zip
        |-- .yaml or .yml
        |-- .yaml or .yml
        |-- folder1
        |   |-- Files required by questions
        |-- folder2
        |   |-- Files required by questions
                      </pre>
                    </li>
                    <a class="btn btn-outline-primary btn-custom btn-block m-1" href="{% url 'yaksh:download_yaml_template' %}">
                      <i class="fa fa-download"></i>&nbsp;Download Template</a>
                  </div>
                    <div class="col-lg-1 text-center or-section">
                      <h3>Or</h3>
                    </div>
                    <div class="col-lg-5 col-12">
                      <div class="input-group row m-0">
                          <div class="custom-file col-12">
                              {{ upload_form }}
                              <label class="custom-file-label" for="id_file">
                                  Choose file
                              </label>
                          </div>
                          <div class="input-group-append col-12 my-4">
                            <button class="btn btn-outline-primary  btn-custom btn-block" type="submit" name="upload" value="upload"><i class="fa fa-upload"></i>&nbsp;Upload File</button>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
              <script>
                  $('#id_file').on('change',function(){
                      //get the file name
                      var fileName = $(this).val();
                      //replace the "Choose a file" label
                      $(this).next('.custom-file-label').html(fileName);
                  })
              </script>
          </form>
        </div>
      </div>
      <!-- End of upload questions -->

      <div id="show" class="tab-pane fade show active" role="tabpanel" aria-labelledby="showbar">
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-dismissible alert-info">
              <button type="button" class="close" data-dismiss="alert">
                  <i class="fa fa-close"></i>
              </button>
              <strong>{{ message }}</strong>
          </div>
          {% endfor %}
        {% endif %}
        <div class="card">
          <div class="card-body">
            <!-- Filter Questions -->
            <h4>Filters Questions: </h4>
            <form method="GET" action="{% url 'yaksh:questions_filter' %}">

              <div class="row mx-lg-2 my-lg-5">
                  <div class="col-lg-4 my-1 my-md-1 col-md-4">{{ form.question_type }}</div>
                  <div class="col-lg-3 my-1 my-md-1 col-md-4">{{ form.language }}</div>
                  <div class="col-lg-3 my-1 my-md-1 col-md-4">{{ form.marks }}</div>
                  <div class="col-lg-2 col-md-6 offset-md-3 offset-lg-0 my-md-2">
                    <button class="btn btn-outline-success btn-block btn-custom">
                      <i class="fa fa-filter"></i>&nbsp;Filter
                    </button>
                  </div>
              </div>
            </form>
            <!-- End Filter Questions -->
            <hr class="d-lg-none d-md-none">
            <!-- Search by Tags -->
            <h4 >Search using Tags: </h4>
            <div class="row mx-lg-2 my-lg-5">            
              <div class="col-12 my-1 col-lg-5">
                <form method="GET" action="{% url 'yaksh:search_questions_by_tags' %}">
                  <div class="input-group">
                    <input type="text" name="question_tags" id="question_tags" class="form-control" type="search"  placeholder="Search questions using comma separated Tags">
                    <span class="input-group-append">
                      <button class="btn btn-outline-success btn-custom" type="submit">
                        <i class="fa fa-search"></i>&nbsp;Search
                      </button>
                    </span>
                  </div>
                </form>
              </div>
              <div class="col-12 my-1 col-lg-5">
                <select class="form-control" id="sel1" onchange="append_tag(this);">
                  {% if all_tags %}
                   <option value="" disabled selected>Available Tags</option>
                  {% for tag in all_tags %}
                  <option>
                      {{tag}}
                  </option>
                  {% endfor %}
                  {% else %}
                   <option value="" disabled selected>No Available Tags</option>
                  {% endif %}
                </select>
              </div>
              <!-- End Search by Tags -->
              <div class="col-lg-2 offset-lg-0 col-md-6 offset-md-3 my-md-0">
                <a class="btn btn-outline-danger btn-block m-1" href="{% url 'yaksh:show_questions' %}">
                  <i class="fa fa-times"></i>&nbsp;Clear
                </a>                
              </div>
            </div>
          </div>
          <!-- End Card body -->
        </div>
        <!-- End card filters and search -->
        <form name=frm action="{% url 'yaksh:show_questions' %}" method="post" class="questions-table">
          {% csrf_token %}
          <div id="filtered-questions">
            <br>
            <!--Mobile Add Question button-->
            <a class="btn btn-lg btn-custom btn-block d-lg-none d-md-none" href="{% url 'yaksh:add_question' %}">
              <i class="fa fa-plus-circle"></i>&nbsp;Add Question</a>
            <!--Legacy laptop, Ipad and Ipad pro Add Question button-->
              <a class="btn btn-lg btn-custom d-none d-lg-inline d-md-inline" href="{% url 'yaksh:add_question' %}">
                <i class="fa fa-plus-circle"></i>&nbsp;Add Question</a>
            {% if objects %}
              <div>
                <br>
                {% include "yaksh/paginator.html" %}
                <br>
                <div class="table-wrapper-2 py-lg-5">
                  <div class="table-responsive">
                    <table id="questions-table" class="tablesorter table table-striped">
                      <thead>
                        <tr>
                            <td class="check-header"><input id="checkall" type="checkbox">&nbsp;<label for="checkall" class=" my-lg-1">Select all</label></td>
                            <th class="table-header"> Sr No. </th>
                            <th class="table-header"> Summary&nbsp;<i class="fa fa-sort"></i> </th>
                            <th class="table-header"> Language&nbsp;<i class="fa fa-sort"></i> </th>
                            <th class="table-header"> Type&nbsp;<i class="fa fa-sort"></i> </th>
                            <th class="table-header"> Marks&nbsp;<i class="fa fa-sort"></i> </th>
                            <th class="table-header">Test</th>
                            <th class="table-header">Download</th>
                            <th class="table-header">Delete</th>
                          </tr>
                        </thead>
                        <tbody class="text-center">
                          {% for question in objects %}
                          <tr>
                            <td>
                             <input type="checkbox" name="question" value="{{ question.id }}">
                            </td>
                            <td>{{forloop.counter}}</td>
                            <td><a href="{% url 'yaksh:add_question' question.id %}">{{question.summary|capfirst}}</a></td>
                            <td>{{question.language|capfirst}}</td>
                            <td>{{question.type|capfirst}}</td>
                            <td>{{question.points}}</td>
                            <td>
                              <a href="{% url 'yaksh:test_question' question.id %}">
                                <i class="fa fa-flask flask-custom"></i>
                              </a>
                            </td>
                            <td><a href="{% url 'yaksh:download_question' question.id %}">
                              <i class="fa fa-download download-custom"></i></a></td>
                            <td><a href="{% url 'yaksh:delete_question' question.id %}" onclick="return confirm('Are you sure you want to delete {{question.summary|capfirst}}?')">
                            <i class="fa fa-trash text-danger"></i></a></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <br>
              {% include "yaksh/paginator.html" %}
              <br>
            {% else %}
              <br><br>
              <div class="alert alert-info">
                <center><h3>No Questions found</h3></center>
              </div>
            {% endif %}
          </div>
          <br>
          <center>
            {% if objects %}
            <button class="btn btn-lg btn-custom my-2 my-lg-0" type="submit" name="test" value="test"><i class="fa fa-flask"></i>&nbsp;Test Selected</button>
              <button class="btn btn-lg btn-custom my-2 my-lg-0" type="submit" name='download' value='download'><i class="fa fa-download"></i>&nbsp;Download Selected</button>
              <button class="btn btn-lg btn-outline-danger my-2 my-lg-0" type="submit" onClick="return confirm_delete(frm);" name='delete' value='delete'>
              <i class="fa fa-trash"></i>&nbsp;Delete Selected</button>
            {% endif %}
          </center>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

