{% extends "manage.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'yaksh/css/jquery.datetimepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/courses.css' %}">
<link rel="stylesheet" href="{% static 'css/add_course.css' %}">

{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'yaksh/js/jquery.datetimepicker.full.min.js' %}"></script>
{% endblock %}
{% block title %} Add Contest {% endblock %}

{% block content %}
<section id="content-section">
    <div class="container-fluid">
        <div class="content-bg pb-5 mt-1">
            <h1 id="page_title" class="text-white p-3"> ADD CONTENT</h1>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-pills" id="course_tabs">
                            <li class="nav-item">
                                <a class="nav-link m-1" href="{% url 'yaksh:courses' %}">
                                    My Contests
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active m-1" href="{% url 'yaksh:add_course' %}">
                                    Add/Edit Contest
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'grades:grading_systems'%}" class="nav-link m-1">
                                    Add/View Grading Systems
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <div class="form-bg">
                    <form name=frm id=frm action="" method="post" class="shadow p-4 form-cls">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-6 mb-0 ">
                                {{ form.name|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.enrollment|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 mb-0">
                                {{ form.active|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.code|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 mb-0">
                                {{ form.instructions|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.start_enroll_time|as_crispy_field }}
                                {{ form.end_enroll_time|as_crispy_field }}
                                <div class="row">
                                    <div class="form-group col-md-6 mb-0">
                                        {{ form.grading_system|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6 mb-0">
                                        {{ form.view_grade|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="float-right my-2 but-bg">
                                        <button class="btn btn-lg text-white save" type="submit" id="submit"
                                            name="course">
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;
                                            Save
                                        </button>
                                        <a href="{% url 'yaksh:courses' %}"><button
                                                class="btn btn-lg cancel m-1 text-white" name="button">
                                                <i class="fa fa-times"></i>&nbsp;Cancel</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    $("#id_start_enroll_time").datetimepicker({ format: 'Y-m-d H:i:s' });
    $("#id_end_enroll_time").datetimepicker({ format: 'Y-m-d H:i:s' });
</script>
{% endblock %}