@import 'function.scss';
*{
    font-family: 'Work Sans', sans-serif;

}
.header{
    color: $primary-color;
}
#manageNavbar{
    background-color:white !important;
    .navbar-brand{
        color: #24577A !important;
    }
    .nav-link{
        color: #24577A !important;
    }
    .fa-chevron-circle-down{
        font-size: 14px;
    }
    .navbar{
        box-shadow: none !important;
    }
}
.title{
    color: $primary-color;
}