@import 'function.scss';
@include button-colors;
@include button-border;
.card{
    border: 1px solid $primary-color;
    .card-header{ 
        background: transparent;
        .course-title{
            font-weight: bold;
            color: $primary-color;
        }
    }
    .card-body{
        border-top: 1px solid $primary-color;
    }
}

.modulename{
    color:white !important;
    background-color: $primary-color;
    padding: 20px;
   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.mycard{
    border:0px !important;
    background-color: transparent !important;
}
.mycard{
    .card-body{
        border:0px !important;
        background-color: white;
        border-radius: 15px !important;
    }
}
.disname a{
    color:white !important;
}
.myprogress{
    height: 25px !important;
    border-radius: 15px !important;
}
.contentbg{
    background-color: #F4FAFF !important;
    
    margin-left: 30px;
    margin-right: 30px;
    border:1px solid $primary-color; 
}
.mycardmodules{
    background: #59748A !important;
    color: #ffffff !important;
    border-radius: 10px !important;
}
.detailsbtn a{
    color:white !important;
}
.continuebtn a{
    color:white !important;
}
.continuebtn{
    color:white !important;
}
.success{
    color: green !important;
}
.info{
    color:lightskyblue !important;
}
.warning{
    color: red !important;
}

@media screen and (max-width:520px){
    .card{
        .card-header{
            text-align: center!important;
        }
    }
}