@import 'function.scss';

#posts_table{
    background-color: white;
    border-radius: 20px;
}

.clear{
    color: red;
    background: none;
    border-radius: 20px;
}
 .bg{
    background-color: #F4FAFF;
 }