@import 'function.scss';


.headname{
    color:white !important;
    background-color:white !important;
    padding: 20px;
    position: relative;
    top:20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card{
    border: 1px solid $primary-color;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    .card-header{ 
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: $primary-color;
    }
    .card-body{
        background-color: #f4faff;
    }
}
 
.bat{
    border-radius: 20px;
}

#add_category{
    background-color: $primary-color;
    border-radius: 20px;
}


// .container-fluid{
//     background-color: red;
// }

@media screen and (max-width:520px){
    .card{
        .card-header{
            text-align: center!important;
        }
    }
}

