@import 'function.scss';
@include button-colors;
@include button-border;
.card{
    border: 1px solid $primary-color;
    .card-header{ 
        background: transparent;
        .course-title{
            font-weight: bold;
            color: $primary-color;
        }
    }
    .card-body{
        border-top: 1px solid $primary-color;
    }
}
@media screen and (max-width:520px){
    .card{
        .card-header{
            text-align: center!important;
        }
    }
}

