@import 'function.scss';
@include button-colors;
@include button-border;
.card{
    border: 1px solid $primary-color;

    .card-header{ 
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px;
        background-color: $primary-color;
    }
    .card-body{
        background-color: #f4faff;
    }
}
 


// .container-fluid{
//     background-color: red;
// }

@media screen and (max-width:520px){
    .card{
        .card-header{
            text-align: center!important;
        }
    }
}

