@import 'function.scss';
*{
    font-family: 'Work Sans', sans-serif;
    // border: 1px solid red;
}
.heading{
    color: $primary-color;
}
.container{
    @include button-colors;
    .accordion{
        .card{
            color: $primary-color;
            border:1px solid $primary-color;
            .card-header{
                cursor: pointer;
                background-color: transparent;
            }
        }
    }
}