@import 'function.scss';

#monitorDashboard{
    background-color: $backdrop-color;
    border: 1px solid $primary-color;
}

.details-btn {
    background-color: $primary-color !important;
    color: white !important;
}

.btn-custom{
    color:$primary-color !important;
    background-color: transparent !important;
    border-width: 1px !important;
    border-color: $primary-color !important;
}