@import 'function.scss';
@include button-colors;
@include button-border;
#accordian{ 
    .card{ 
        .card-header{
            background: transparent!important;
            color: $primary-color!important;
            border: 1px solid $primary-color;
            font-weight: bold;
        }
        .card-body{
            background: transparent!important;
            color: $primary-color!important;
            border: 1px solid $primary-color;
            border-top: transparent!important;
        }
    }
}
@media screen and (max-width:520px){
    #accordian{
        .card{
            .card-header{
                text-align: center!important;
            }
        }
    }
}