@import 'function.scss';

    .my-border{
        width: 95%;
        border: solid 1px $primary-color;
        background-color: #F4FAFF;
    }

    .cc{
        p{
            color: $primary-color;
        }
        th{
            color: $primary-color;
        }
    }

    .more{
        background-color: $primary-color;
        border-radius: 10px;
    }

