{% extends "base.html" %}
{% load static %}

{% block title %} Forgot Password {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="{% url 'yaksh:index' %}">
        <img src="{% static 'yaksh/images/yaksh_banner.png' %}" alt="YAKSH">
    </a>
</nav>
{% endblock %}

{% block content %}
<center>
<div class="container">
    <h3>Your password has been reset. </h3>
    <p><a href="{{ login_url }}" class="btn myaddbtn btn-lg">Log in</a></p>
    </div>
</center>
{% endblock %}
