{% extends "manage.html" %}
{% load custom_filters %} 
{% load static %}
{% block title %} Add/Edit Grading {% endblock %}
{% block pagetitle %} Add/Edit Grading {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/add_grades.css' %}">

{% endblock %}

{% block main %}
<html>
    <div class="contentbg py-4 mx-1 mx-md-4">
        
         
        <div class="row mx-4 mt-3 mt-md-5">

    <div class="col-md-12">
        <ul class="nav nav-pills" id="course_tabs">
            <li class="nav-item m-1">
                <a class="nav-link" href="{% url 'yaksh:courses' %}">
                    My Courses
                </a>
            </li>
            <li class="nav-item m-1">
                <a class="nav-link" href="{% url 'yaksh:add_course' %}">
                    Add/Edit Course
                </a>
            </li>
            <li class="nav-item m-1">
                <a href="{% url 'grades:grading_systems'%}" class="active nav-link" >
                    Add/View Grading Systems
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="float-right mr-3">
<a href="{% url 'grades:grading_systems'%}" class="btn myaddbtn">
    <i class="fa fa-eye mr-2"></i>View Grading Systems
</a>
</div>
<div class="mx-4">
<br><br>
<div class="alert alert-info">
    Note: For grade range lower limit is inclusive and upper limit is exclusive
</div>
<br>
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-dismissible alert-{{ message.tags }}">
          <button type="button" class="close" data-dismiss="alert">
              <i class="fa fa-close"></i>
          </button>
          <strong>{{ message }}</strong>
      </div>
    {% endfor %}
    <br>
{% endif %}
{% if not system_id  %}
    <form action="{% url 'grades:add_grade' %}" method="POST">
{% else %}
    <form action="{% url 'grades:edit_grade' system_id %}" method="POST">
{% endif %}
    {% csrf_token %}
    <table class="table table-responsive-sm">
        {% if grade_form.errors %}
            {% for field in grade_form %}
                {% for error in field.errors %}
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="fa fa-close"></i>
                        </button>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in grade_form.non_field_errors %}
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="fa fa-close"></i>
                    </button>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {% for field in grade_form %}
            {{ field }}
            <hr>
        {% endfor %}
        {{ formset.management_form }}
        <br>
        <div class="col">
            {% for form in formset %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <span class="gradename">Grade Range {{forloop.counter}}.</span>
                <div class="container mt-3">
                    <div class="row">
                    {% for field in form.visible_fields  %}
                      <div class="col-sm-3">
                        {% if field.field.widget|is_checkbox %}
                            {{ field.label_tag }}
                        {% endif %}
                        {{ field }}
                      </div>
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </table>
    {% if not is_default %}
    <div class="float-right">
        <input type="submit" id="add" name="add" value="Add/Delete Grade Range" class="btn myaddbtn">
        <input type="submit" id="save" name="save" value="Save" class="btn myaddbtn">
    </div>
    {% else %}
        <div class="alert alert-warning">
            Note: This is a default grading system. You cannot change this.
        </div>
    {% endif %}
    <br><br>
    
</form>
</div>
</div>
</html>
{% endblock %}
