{% extends "manage.html" %}
{% block title %} View Grading Systems {% endblock %}
{% block pagetitle %} View Grading Systems {% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/courses.css' %}">
{% endblock %}
{% block main %}
<html>
   
    <div class="contentbg py-4 mx-1 mx-md-4">
        
         
    <div class="row mx-4 mt-3 mt-md-5">
        <div class="col-md-12">
            <ul class="nav nav-pills" id="course_tabs">
                <li class="nav-item">
                    <a class="nav-link m-1" href="{% url 'yaksh:courses' %}">
                        My Courses
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-1" href="{% url 'yaksh:add_course' %}">
                        Add/Edit Course
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'grades:grading_systems'%}" class="active nav-link m-1" >
                        Add/View Grading Systems
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row container my-4">
       
        <div class="col-md-6"> <p class="avilname"> Available Grading Systems: </p></div>
        <div class="col-md-6">
            <a href="{% url 'grades:add_grade' %}" class="btn btn-lg btn-outline-success">
                <span class=" fa fa-plus-circle"></span>&nbsp;Add a Grading System
            </a>
        </div>
    </div>
   
  
   
    <table class="table table-responsive-sm">
        <tr>
            <td class="thname">Grading System</td>
            <td class="thname">Grading Ranges</td>
        </tr>
        <tr>
            <td>
            <a href="{% url 'grades:edit_grade' default_grading_system.id %}">
            {{ default_grading_system.name }}</a> (<b>Default Grading System</b>)
            </td>
            <td>
                <table class="table">
                    <tr>
                        <th>Lower Limit</th>
                        <th>Upper Limit</th>
                        <th>Grade</th>
                        <th>Description</th>
                    </tr>
                    {% for range in default_grading_system.graderange_set.all %}
                        <tr>
                            <td>{{range.lower_limit}}</td>
                            <td>{{range.upper_limit}}</td>
                            <td>{{range.grade}}</td>
                            {% if range.description %}
                                <td>{{range.description}}</td>
                            {% else %}
                                <td>------</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% if grading_systems %}
        {% for system in grading_systems %}
            <tr>
            <td>
            <a href="{% url 'grades:edit_grade' system.id %}">{{ system.name }}</a>
            </td>
            <td>
                <table class="table">
                    <tr>
                        <th>Lower Limit</th>
                        <th>Upper Limit</th>
                        <th>Grade</th>
                        <th>Description</th>
                    </tr>
                    {% for range in system.graderange_set.all %}
                        <tr>
                            <td>{{range.lower_limit}}</td>
                            <td>{{range.upper_limit}}</td>
                            <td>{{range.grade}}</td>
                            {% if range.description %}
                                <td>{{range.description}}</td>
                            {% else %}
                                <td>------</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    
    </div>
    
</html>
{% endblock %}
